footer {
  background: linear-gradient(0.25turn, #007D80, #005F61, #004A4D, #003C3D, #009E89);
  width: 100%;
  margin-top: .5rem;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  gap: 3rem;
}

.footerLeftCol, .footerRightCol {
    margin: auto 0;
}

.footerLeftCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 50%;
}

.footerLeftCol p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #E9F5F3;
}

.Socials img {
  height: 3rem;
  margin: 1rem;
}

.footerRightCol ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* default = stacked vertically */
  gap: 0.5rem;
  font-size: 1.2rem;
}

.footerLinkHead {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #E9F5F3;
}

.footerLinks a{
  margin: 0.4rem 0;
  color: #E9F5F3;
}

#Logo__footer {
  height: 5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .footerLeftCol {
    max-width: 100%;
  }
  .footerRightCol ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
  }

  .footerRightCol ul .footerLinkHead {
    flex-basis: 100%; 
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .footerRightCol ul .footerLinks {
    flex: 0 0 auto;
    margin: 0;
  }

  .footerRightCol ul .footerLinks a {
    color: #E9F5F3;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
}
