footer {
  background-color: #f9fbe7;
  /* padding: 30px 0; */
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  gap: 3rem;
}

.footerLeftCol, .footerRightCol {
    margin: auto 0;
}

.footerLeftCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.footerLeftCol p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.Socials img {
  height: 3rem;
  margin: 1rem;
}

.footerRightCol ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  font-size: 1.2rem;
}

.footerLinkHead {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footerLinks {
  margin: 0.4rem 0;
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footerLeftCol, .footerRightCol {
    max-width: 100%;
    align-items: center;
  }

  .footerLeftCol p {
    font-size: 1rem;
  }

  .Socials img {
    height: 2.5rem;
    margin: 0 auto;  
  }
}

.linear-gradient {
  background: linear-gradient(0.25turn, #007f80, #00b3aa, #0e7f83, #0c9b9bf8, #0cc7be);
}