/* NavBar */
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0px rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
  z-index: 1001;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
  z-index: 1001;
  height: 7rem;
  background: linear-gradient(0.25turn, #007D80, #005F61, #004A4D, #003C3D, #009E89);
}

.burger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5rem;
}

#Logo__nav {
    padding-top: 2rem;
    height: 8rem;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

  header nav ul {
    display: flex;
    flex-direction: column;
  }

  .nav-menu {
    position: absolute;
    top: 7rem;
    right: 0;
    flex-direction: column;
    width: 100%;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transform: translateY(-100vw);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
      visibility 0s linear 0.3s;
    z-index: 2000;
    overflow-y: hidden;
    background: linear-gradient(0.25turn, #007D80, #005F61, #004A4D, #003C3D, #009E89);
  }

  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 3;
  }

  .nav__li {
    display: block;
  }

  .nav__li a {
    text-align: center;
    color: #E9F5F3;
    border: 1px solid #E9F5F3;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #E9F5F3;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #Logo__nav {
    height: 6rem;
  }
}
