.search {
  height: 100vh;
  background-color: #ffffff;
}

.form-container {
  margin: 5% auto;
  border-radius: 20px;
  width: 70%;
  height: auto;
  background-image: url("/homebg.jpg");
  background-size: 40% 100%;
  background-color: #ffffff;
  background-position: left center, right center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  box-shadow: rgb(126 126 135 / 23%) -3px 1px 9px 3px;
}

.almanac-form {
  width: 50%;
  margin: 1rem;
  padding: 3rem;
  border-radius: 10px;
}

.almanac-form select {
  display: block !important;
}
.almanac__label {
  font-size: 1.1rem;
  color: #477b34;
}

.form__btn {
  margin: 1rem auto;
  width: 50%;
  color: white;
  background-color: #477b34;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
}

.form__btn:hover {
  transform: scale(1.01);
  background-color: #477b34ce !important;
}
.modal-overlay--mine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #288d2f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
