.green.darken-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: .33rem;
    justify-content: space-around;
    height: 8rem;
    width: 40rem;
    margin: 0 auto;
}

.green.darken-2 ul li{
    font-size: 1.1rem;
    margin-left: 2rem;
}

.material-icons.yellow-text.text-darken-2 {
    align-items: center;
    font-size: 5rem;
    justify-content: center;
}

.plantIcon__div {
    width: 1rem;
}

.favorite__div i {
    font-size: 3rem;
}